.hc_log_rendered .neopixel_led_container {
    position: relative;
}

.hc_log_rendered .neopixel_led {
    position: absolute;
    width: 3px;
    height: 3px;
}

.hc_log_rendered .neopixel_led.disabled {
    opacity: .5;
    background: #000;
}