.hc_log_plain {
}

.hc_log_plain .explain {
    margin: 0 2px;
    padding: 2px;
    border: 1px solid #000;
    border-radius: 5px;
    min-width: 19px;
    text-align: center;
    display: inline-block;
}

.hc_log_plain .explain:first-child {
    margin: 0 2px 0 0;
}

.hc_log_plain .explain:hover {
    background: #000;
    color: #FFF;
}

.hc_log_plain .explain .title {
    position: absolute;
    border: 1px solid #000;
    border-radius: 5px;
    background: #FFF;
    display: none;
    margin: 17px 0 0 -3px;
    z-index: 1;
    color: #000;
    text-align: left;
    padding: 2px;
}

.hc_log_plain .explain:hover .title {
    display: block;
}

.hc_log_rendered {
    margin-top: 10px;
    line-height: 7px;
}

.hc_log_rendered table {
    width: 100%;
}

.hc_log_rendered * {
    font-size: 13px;
}