.hcSsd1306View {
    background-color: #dfe8f6;
    padding-top: 30px;
}

.hcSsd1306Page {
    clear: left;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

.hcSsd1306Column {
    width: fit-content;
    float: left;
}

.hcSsd1306Pixel {
    padding: 0 1px 1px 0;
}

.hcSsd1306Pixel div {
    width: 5px;
    height: 5px;
}

.hcSsd1306PixelOff {
    background-color: #000;
}

.hcSsd1306PixelOn {
    background-color: #FFF;
}