.hcIrRemoteKey {
    cursor: pointer;
    position: absolute;
    color: #000;
    text-align: center;
    padding: 5px;
    user-select: none;
}

.hcIrRemoteKeySelected {
    box-shadow: #FFF 0 0 30px 5px;
}