.hcWarehouseBox {
    cursor: pointer;
    position: absolute;
    color: #000;
    padding: 5px;
    border: 1px solid #000;
    background: #FFF;
    user-select: none;
}

.hcWarehouseBoxSelected {
    background: #DDD;
}

.hcWarehouseBoxHover {
    background: #EEE;
}

.hcWarehouseBoxName {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: clip;
}

.hcWarehouseBoxInfo {
    bottom: 6px;
    position: absolute;
    right: 6px;
}

.hcWarehouseBoxImage,
.hcWarehouseBoxCode {
    height: 290px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}